/* ==========================================================================
   Author's custom styles
   ========================================================================== */
:root {
    --header-color: #3E2A68;
    --main-background-image: linear-gradient(to bottom right, #D8FCFF, #C3B9FC, #F5D8FF, #EAE3FF); 
    --font-color: #017EA4;
    --header-link-color:#B78FDA;
    --button-color: #B78FDA;
    --projects-button:linear-gradient(to right, #92F3FF, #C792FF);
   
}

[data-theme="dark"] {
  --header-color: #F5B9FF;
  --main-background-image: linear-gradient(to right, #090042, #19012E);
  --font-color: #11a2cf;
  --header-link-color:#F5B9FF;
  --button-color:#3D3D3E;
  --projects-button:linear-gradient(to right, #0517A0, #2A0275);


}

@media (prefers-color-scheme: dark) {
    html {
      content: "dark";
    }
}


 body {
   background-color: transparent;
   background-image: var(--main-background-image);
   margin-top: 3.5em;
   max-width: 100vw;
   -ms-overflow-style: scrollbar;
   background-repeat: no-repeat;
  background-attachment: fixed;
 }


 /* Type */

 body, input, select, textarea {
   color: var(--font-color);
   font-family: "Source Sans Pro", Helvetica, sans-serif;
   line-height: 1.75em;
 }
 


 h1, h2, h3, h4, h5, h6 {
   color: var(--header-color);
   font-family: "Raleway", Helvetica, sans-serif;
   letter-spacing: 0;
   line-height: 1.65;
   text-transform: uppercase;
   a {
     border-bottom: 0;
   }
 }

code {
   border: solid 0px rgba(160, 160, 160, 0.3);
  font-family: "Monaco",Menlo,Ubuntu Mono,Droid Sans Mono,Consolas   ,monospace;
  padding: 0 .25rem;
    margin: 0 .0625rem;
    border-radius: .125rem;
    color: var(--header-link-color);
    background-color: #3d3d3e;
   font-size: 0.9em;
   overflow-x: auto;
   &::-webkit-scrollbar {
     height: .25em;
   }
   &::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   }
   &::-webkit-scrollbar-thumb {
     background-color: darkgrey;
     outline: 1px solid slategrey;
   }
 }

 pre {
   display: table;
   background-color:transparent;
   font-family: "Courier New", monospace;
   font-size: 0.9em;
   table-layout: fixed;
   width: 100%;
   code {
     display: block;
     padding: 1em 1.5em;
     overflow-x: auto;
     background-color:transparent;
   }
 }

 hr {
   border: 0;
   background-color:transparent;
   border-bottom: solid 1px rgba(160, 160, 160, 0.3);
   margin: 2em 0;
 }

 
 /* Button */

 input[type="submit"],
 input[type="reset"],
 input[type="button"],
 .button {
   background-color: transparent;
   border: solid 1px rgba(160, 160, 160, 0.3);
   color: #017EA4;
   cursor: pointer;
   display: inline-block;
   font-family: "Raleway", Helvetica, sans-serif;
   font-size: 0.6em;
   font-weight: 800;
   height: 4.8125em;
   letter-spacing: 0.25em;
   line-height: 4.8125em;
   margin: auto;
   padding: 0 2em;
   -moz-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   -webkit-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   -ms-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   text-align: center;
   text-transform: uppercase;
   width: fit-content;
 &:hover {
     border: solid 1px $accent-color;
     color: $accent-color !important;
   }
   &:active {
     background-color: rgba(46, 186, 174, 0.05);
   }
 }

 /* Fancybox */

 .fancybox {
   background: #000000;
   -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   -ms-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   -o-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   margin: 10px auto;
   max-width: 85%;
   padding: .5em .5em 0 .5em;
   width: fit-content;
   a {
     border: 0;
   }
   img {
     max-width: 100%;
   }
   .caption {
     color: #777;
     font-size: 0.8em;
     font-style: italic;
     text-align: center;
   }
 }

 /* Staticman Comments */
 $avatar-size: 3.25em;
 $avatar-rsep: 1em;
 $comment-vsep: 2.5em;
 $comment-content-vsep: 1.5em;

 .post-comment {
   position: relative;
   margin: $comment-vsep 0;
   font-size: .8em;

   /* Comment replies' additional left margin */
   &.post-comment-reply {
     margin-left: 2em;
     /* Display Font Awesome '↷' to signify reply target */
     .post-comment-author::after {
       font-family: 'Font Awesome 5 Free';
       content: '\f064';
       margin: 0 0.3em;
       display: inline-block;
       vertical-align: middle;
       font-weight: 900;
     }
   }

   .post-comment-avatar {
     float: left;
     width: $avatar-size;
     height: $avatar-size;
     margin: 0 $avatar-rsep 0 0;
   }

   .post-comment-author-container {
     /* -ve margin botton so that timestamp and author aren't too far */
     margin-bottom: -0.5em;
     .post-comment-author {
       display: inline-block;
       margin: 0 0 0;
       font-size: 1.25em;
       line-height: 0;
       a {
         color: inherit;
         text-decoration: none;
       }
     }
   }

   .post-comment-timestamp {
     font-size: .8em;
     a {
       color: inherit;
       text-decoration: none;
     }
   }

   .post-comment-content {
     margin: $comment-content-vsep 0 0 $avatar-size + $avatar-rsep;
     > figure, > ol, > p,
     > table, > ul {
       margin-bottom: 1.5em;
     }
   }

   .post-comment-reply-btn-container {
     margin: $comment-content-vsep 0 $comment-content-vsep $avatar-size + $avatar-rsep;
     /* Display Font Awesome '↶' to signify reply target */
     .post-comment-reply-btn {
       font-size: .6rem;
       &::before {
         font-family: 'Font Awesome 5 Free';
         content: '\f3e5';
         margin: 0 0.6em 0 0;
         display: inline-block;
         vertical-align: middle;
         font-weight: 900;
       }
     }
   }
 }

 /* Comment form */
 .post-new-comment {
   /* Disable the form when it has just been submitted */
   &.loading {
     opacity: 0.5;
   }

   /* Post reply notice with vertical align middle for consistent output */
   .post-reply-notice {
     .post-comment-avatar {
       width: 2em;
       height: 2em;
       margin: 0 .6em;
     }

     /* Display close button 'x' to clear reset reply target */
     .post-reply-close-btn {
       margin: 0 .5em;
       padding: unset;
       border: none;
       vertical-align: middle;
       &:hover {
        border: none;
      }
       &:after {
         content: '\2716';
       }
     }

     .post-reply-arrow::after {
       font-family: 'Font Awesome 5 Free';
       content: '\f064';
       display: inline-block;
       vertical-align: middle;
       font-weight: 900;
     }

     .post-reply-name {
       vertical-align: middle;
     }
   }

   /* Format reCaptcha */
   .g-recaptcha {
     margin: 0 0 0.25em;
   }

   /* Buttons */
   .button {
     margin: 0.25em 0;
   }
 }

 /* Copied from other blocks for reply and 'x' buttons */
.button {
   margin: .25em 0;
   background-color: transparent;
   border: solid 1px rgba(160, 160, 160, 0.3);
   color: #017EA4;
   cursor: pointer;
   display: inline-block;
   font-family: "Raleway", Helvetica, sans-serif;
   font-weight: 800;
   -moz-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   -webkit-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   -ms-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   text-align: center;
   text-transform: uppercase;
   width: fit-content;
}
 /* ---------------------------------Classes--------------------------------- */


 /* Site Header */
 
 #site-header{
   background-color: transparent;
   opacity:.9;
   color: var(--header-color);
   border-bottom: solid 0px rgba(160, 160, 160, 0.3);
   -webkit-box-shadow:  0 0px 0px rgba(0,0,0,0.19), 0 0px 0px rgba(0,0,0,0.23);
   -moz-box-shadow:  0 0px 0px rgba(0,0,0,0.19), 0 0px 0px rgba(0,0,0,0.23);
   -ms-box-shadow:  0 0px 0px rgba(0,0,0,0.19), 0 0px 0px rgba(0,0,0,0.23);
   -o-box-shadow:  0 0px 0px rgba(0,0,0,0.19), 0 0px 0px rgba(0,0,0,0.23);
   box-shadow: 0 0px 0px rgba(0,0,0,0.19), 0 0px 0px rgba(0,0,0,0.23);
   height: 3.5em;
   line-height: 3.5em;
   position: absolute;
   margin-bottom: 3.5em;
   top: 0;
   width: 100%;
   z-index: 10000;
}

#site-header a:link{
     border: 0;
     border-left: 0;
     font-family: "Raleway", Helvetica, sans-serif;
     font-size: .8em;
     font-weight: 800;
     letter-spacing: 0em;
     margin:auto;
     padding: 0 1em;
     text-transform: uppercase;
   }

.flyout-menu {
     color: var(--header-color)
     border-left: 0px solid rgba(160, 160, 160, 0.3);
     height: 100%;
     margin-top: 3.5em;
     padding: 0;
     position: fixed;
     top: 0;
     -webkit-transition: 0.5s;
     -moz-transition: 0.5s;
     -ms-transition: 0.5s;
     -o-transition: 0.5s;
     transition: 0.5s;
     z-index: 20;
     &.active {
       -webkit-box-shadow:  0 3px 6px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
       -moz-box-shadow:  0 3px 6px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
       -ms-box-shadow:  0 3px 6px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
       -o-box-shadow:  0 3px 6px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
       box-shadow: 0 3px 6px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
       right: 0 !important;
       a {
         border-left: 0;
       }
     }
     h1 {
       font-size: 1em;
     }
   }
 }

#site-nav {
   align-items: center;
   display: block;
   justify-content: right;
}
   .flyout-menu {
     right: 177px;
     width: 177px;
     @include for-desktop-up {
       background-color: unset;
       border: none;
       flex-grow: 1;
       height: auto;
       margin: 0;
       overflow: auto;
       position: static;
       -webkit-transition: none;
       -moz-transition: none;
       -ms-transition: none;
       -o-transition: none;
       transition: none;
       white-space: nowrap;
       &::-webkit-scrollbar {
         height: .25em;
         
       }
       &::-webkit-scrollbar-track {
         -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
       }
       &::-webkit-scrollbar-thumb {
         background-color: darkgrey;
         outline: 1px solid slategrey;
       }
     }
     &.active {
       flex-wrap: wrap;
       @include for-desktop-up {
           -webkit-box-shadow: none;
           -moz-box-shadow:  none;
           -ms-box-shadow:  none;
           -o-box-shadow:  none;
           box-shadow: none;
       }
     }
     .search-toggle {
       display: block;
       flex-basis: 100%;
       order: 1;
     }
     .link {
       border-bottom: dotted 1px rgba(160, 160, 160, 0.3);
       display: block;
       flex-basis: 100%;
       order: 2;
       @include for-desktop-up {
         border-bottom: none;
         display: inline;
         order: 0;
         &:first-of-type {
           border: 0;
         }
       }
     }
     .share-toggle {
       display: block;
       flex-basis: 100%;
       order: 2;
       @include for-laptop-up {
         display: none;
       }
     }
   }
}

     @include for-desktop-up {
       flex-grow: 0;
       &:after {
         background: rgba(160, 160, 160, 0.3);
         content: '';
         display: block;
         height: 56px;
         margin-left: 1.5em;
         width: 1px;
       }
       a {
         min-width: 12.5em;
         img {
          margin-top: -0.2em;
        }
       }
     }
   }
   > .share-toggle, > .search-toggle {
     display: none;
     @include for-tablet-up {
       display: block;
       text-align: center;
       width: 61px;
       i {
         vertical-align: middle;
       }
     }
   }
   .lang-toggle {
     &:hover {
       span {
         box-shadow: inset 0 0 0 100px rgba(46, 187, 170, .5);
       }
     }
     span {
       display: inline-block;
       font-size: 1.75em;
       -webkit-transition: box-shadow 0.2s ease;
       -moz-transition: box-shadow 0.2s ease;
       -ms-transition: box-shadow 0.2s ease;
       -o-transition: box-shadow 0.2s ease;
       transition: box-shadow 0.2s ease;
       vertical-align: middle;
     }
   }
   .nav-toggle {
     text-align: center;
     width: 61px;
     @include for-desktop-up {
       display: none;
     }
     i {
       vertical-align: middle;
     }
   }
 }
}


 /* Intro */

 #site-intro {
   align-items: center;
   display: flex;
   flex-direction: column;
   margin-top: 0.5em;
   padding: 1em;
   text-align: center;
   a {
     border: 0;
   }
   p {
     opacity: 0.6;
   }
   

   header{
     
   }
   main {
     p {
       font-size: .7em;
       letter-spacing: .25em;
       line-height: 2.5;
       margin-bottom: 0;
       text-transform: uppercase;
     }
   }
 }

 /* Site Main */

 #site-main {

 }

 /* Sidebar */

 #site-sidebar {
   header h1 {
     font-size: 1em;
   }
   #site-sidebar > * {
     border-top: solid 0px rgba(160, 160, 160, 0.3);
     margin: 3em 2em 0 2em;
     padding-top: 3em;
   }
   > *:first-child {
     @include for-desktop-up {
       margin-top: 0;
     }
   }
 }

 #recent-posts {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   > header {
     flex: 1 1 100%;
   }
}
.mini-post {
 border: solid 1px rgba(160, 160, 160, 0.3);
 display: flex;
 flex-direction: column;
     margin-bottom: 1em;
     width: 100%;
     @include for-laptop-up {
       width: 49%;
     }
     @include for-desktop-up {
       width: 100%;
     }
     header {
       background-color:transparent;
       min-height: 4em;
       padding: 1.25em 1.25em 0.1em 1.25em;
       position: relative;
       @include for-laptop-up {
         border-top: solid 1px rgba(160,160,160,0.3);
       }
       @include for-desktop-up {
         border: 0;
         
       }
       h1 {
         background-color:transparent;
         font-size: 0.7em;
       }
       .published {
         display: block;
         font-family: "Raleway", Helvetica, sans-serif;
         font-size: 0.6em;
         font-weight: 400;
         letter-spacing: 0.25em;
         margin: -0.625em 0 1.7em 0;
         text-transform: uppercase;
       }
       .author, .format {
         position: absolute;
         right: 2em;
         top: 2em;
       }
     }
     section {
       background-color:transparent;
       flex-grow: 1;
       overflow: hidden;
       .image {
         &:hover {
           img {
             -moz-transform: scale(1.05);
             -webkit-transform: scale(1.05);
             -ms-transform: scale(1.05);
             transform: scale(1.05);
           }
         }
         img {
           display: block;
           height: 100%;
           margin: 0;
           -moz-transition: -moz-transform 0.2s ease-out;
           -webkit-transition: -webkit-transform 0.2s ease-out;
           -ms-transition: -ms-transform 0.2s ease-out;
           transition: transform 0.2s ease-out;
           width: 100%;
         }
       }
     }
   }
 

 #categories {
   .count {
     float: right;
   }
 }

 #mini-bio {
   p {
     opacity: 0.65;
     font-size: 0.9em;
     padding: 0;
   }
   footer {
     text-align: center;
   }
 }

 /* Footer */

 #site-footer{
   border-top: solid 1px rgba(160,160,160,0.3);
   margin: 3em 2em 0 2em;
   padding-top: 3em;
   .copyright {
     color: #aaaaaa;
     font-family: "Raleway", Helvetica, sans-serif;
     font-size: 0.5em;
     font-weight: 400;
     letter-spacing: 0.25em;
     text-align: center;
     text-transform: uppercase;
   }
 }

 #back-to-top {
   bottom: 15px;
   color: #aaaaaa;
   display: none;
   position: fixed;
   right: 15px;
   border: 0;
 }

 /* Social Icons */

 #site-intro, #site-footer {
   .socnet-icons {
     color:#000000;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     padding-left: 0;
    li {
       margin: 0 .5em;
       min-width: 20px;
       list-style-type: none;
       a {
         opacity: 0.6;
         border: none;
       }
     }
   }
 }

 #socnet-share {
   display: flex;
   flex-wrap: wrap;
   justify-content: start;
   margin: 1em 1em 0 1em;
   @include for-laptop-up {
     justify-content: flex-start;
   }
   a {
     margin-bottom: .5em;
     padding: .5em;
     width: 4em;
     @include for-laptop-up {
       margin-right: .25em;
     }
     i {
       font-size: 1em;
     }
   }
   p {
     display: none;
   }
 }

 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
.post {
   background: transparent;
   margin: 1.5em auto;
   padding: 1em;
   max-width: 55em;
   
   > header {
     border-bottom: solid 1px rgba(160, 160, 160, 0.3);
     margin: 1em 1em 0 1em;
     text-align: center;
     @include for-laptop-up {
       display: flex;
       justify-content: space-between;
       text-align: left;
     }
     div {
       padding: 0 0 1em 0;
       @include for-laptop-up {
         padding: 2em 1em;
       }
     }
     p {
       margin: -1em 0 0 0;
     }
     .title {
       font-size: 1.1em;
     }
     .meta {
       display: flex;
       flex-direction: column;
       @include for-laptop-up {
         border-left: 0;
         text-align: right;
         width: 17em;
       }
       .published {
         font-family: "Raleway", Helvetica, sans-serif;
         font-size: 0.7em;
         font-weight: 800;
         letter-spacing: 0.25em;
         text-transform: uppercase;
       }
       p, .author, .format {
         font-family: "Raleway", Helvetica, sans-serif;
         font-size: 0.6em;
         letter-spacing: 0.25em;
         text-transform: uppercase;
       }
     }
   }
   > div, > p {
     @include for-desktop-up {
      margin: 0 1em;
    }
     @include for-big-desktop-up {
       margin: 0 4em;
     }
   }
   > div > p, > p {
     text-align: justify;
   }
   a {
     &.image {
       border: 0;
       display: block;
       margin: 1em -1em;
       overflow: hidden;
       &:hover {
         img {
           -webkit-transform: scale(1.05);
           -moz-transform: scale(1.05);
           -ms-transform: scale(1.05);
           -o-transform: scale(1.05);
           transform: scale(1.05);
         }
       }
       img {
         -webkit-transition: -webkit-transform 0.2s ease-out;
         -moz-transition: -moz-transform 0.2s ease-out;
         -ms-transition: -ms-transform 0.2s ease-out;
         -o-transition: -ms-transform 0.2s ease-out;
         transition: transform 0.2s ease-out;
         width: 100%;
       }
     }
   }
   > footer {
     display: flex;
     flex-direction: column;
     .stats {
       display: flex;
       cursor: default;
       justify-content: space-around;
       list-style: none;
       margin: .5em 0;
       padding: 0;
       li {
         display: flex;
         align-items: center;
         font-family: "Font Awesome 5 Free";
         font-weight: 900;
         max-width: 50%;
         &:hover, &:active {
           ul {
             li {
               visibility: visible;
               opacity: 1;
               line-height: 1;
               margin: 1em;
               width: auto;
             }
           }
         }
         &.categories {
           &:before {
             content: "\f07b";
             width: 20px;
           }
         }
         &.tags {
           &:before {
             content: "\f02c";
             width: 20px;
           }
         }
         ul {
           display: flex;
           flex-wrap: wrap;
           border-left: 0;
           margin: 0 0 0 1em;
           padding: 0 0 0 1em;
           li {
             visibility: visible;
             font-family: "Raleway", Helvetica, sans-serif;
             font-size: 0.6em;
             font-weight: 400;
             letter-spacing: 0.25em;
             line-height: 0;
             margin: 0;
             width: 0;
             opacity: 0;
             -webkit-transition: visibility 0s, opacity 0.5s linear, line-height 0.5s linear, margin 0.5s linear, width 0.5s linear;
             -moz-transition: visibility 0s, opacity 0.5s linear, line-height 0.5s linear, margin 0.5s linear, width 0.5s linear;
             -ms-transition: visibility 0s, opacity 0.5s linear, line-height 0.5s linear, margin 0.5s linear, width 0.5s linear;
             -o-transition: visibility 0s, opacity 0.5s linear, line-height 0.5s linear, margin 0.5s linear, width 0.5s linear;
             transition: visibility 0s, opacity 0.5s linear, line-height 0.5s linear, margin 0.5s linear, width 0.5s linear;
             text-transform: uppercase;
             &:nth-child(-n+3) {
               visibility: visible;
               opacity: 1;
               width: auto;
               line-height: 1;
               margin: 1em;
             }
           }
         }
       }
     }
   }
 }
 
 

.postimg {
   display: block;
   width:30;%;
   margin-left:auto;
   margin-right:auto;
}



.imgcaption{
   text-align:center;
   font-size:.5em;
   font-family: ;
   color:#3D3D3E;
}

.share-btn {
   border: none;
   border-radius: 0px;
   box-shadow: 0 0px 0 0 rgba(0,0,0,0);
   color: #ffffff;
   font-size:10px;
   display: inline-block;
   text-align: center;
   &:hover {
     color: #ffffff !important;
   }
   &:active {
     position: relative;
     top: 2px;
     box-shadow: none;
     color: #e2e2e2;
     outline: none;
   }
 }

 .share-btn.twitter {
     display:inline-block;
     border: 1px solid var(--font-color);
     background: transparent;
     color: var(--font-color);
     opacity:.7;
     }

   .share-btn.linkedin {
     display:inline-block;
     border: 1px solid var(--font-color);
     background: transparent;
     color: var(--font-color);
     opacity:.7;
     }

   .share-btn.email {
     display:inline-block;
     border: 1px solid var(--font-color);
     background: transparent;
     color: var(--font-color);
     opacity:.7;
     }
     
/*Buttons on Bookmark Page*/
.statsbutton{
  
 background:var(--header-color);
 font-size: 16px;
 letter-spacing: 0;
 border: none;
 color:var(--button-color);
  text-decoration: none;
  display: inline-block;
  font-weight:700;
  -moz-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   -webkit-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   -ms-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   text-align: center;
   text-transform: uppercase;
   width: fit-content;
   }
  
 .statsbutton:hover {
   background: #3D3D3E;
    color: #2EBAAE;
     border: none;
     
 }
   
.publichealthbutton{
  background-color: var(--header-color);
  border: none;
  color: var(--button-color);
  text-decoration:none;
  text-align: center;
  text-transform:uppercase;
  font-weight:700;
  display: inline-block;
  font-size: 16px;
  -moz-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   -webkit-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   -ms-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   text-align: center;
   text-transform: uppercase;
   width: fit-content;
}

 .publichealthbutton:hover {
    background:#3D3D3E;
    color: #2EBAAE;
      border: none;
}
    
.epibutton{
  background-color: var(--header-color); 
  border: none;
  color: var(--button-color);
  text-decoration: none;
  font-weight:700;
  display: inline-block;
  font-size: 16px;
  -moz-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   -webkit-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   -ms-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   text-align: center;
   text-transform: uppercase;
   width: fit-content;
}
 .epibutton:hover {
      border: none;
    background:#3D3D3E;
    color:#2EBAAE;
 }


.clinicalbutton{
  background-color: var(--header-color); 
  font-weight:700;
  border: none;
  color: var(--button-color) ;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -moz-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   -webkit-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   -ms-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   text-align: center;
   text-transform: uppercase;
   width: fit-content;
}
.clinicalbutton:hover {
    background: #3D3D3E;
    color:#2EBAAE;
   border: none;
}
.miscbutton{
  background-color: var(--header-color); 
  border: none;
  color: var(--button-color);
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight:700;
  -moz-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   -webkit-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   -ms-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   text-align: center;
   text-transform: uppercase;
   width: fit-content;
}
.miscbutton:hover {
    background: #3D3D3E;
    color:#2EBAAE;
    border: none;
}

.gitbtn {
   
  background-image: var(--projects-button);
  border: solid 1px var(--header-link-color);
  color: var(--header-color);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight:700;
  -moz-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   -webkit-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   -ms-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   text-align: center;
   text-transform: uppercase;
   width: fit-content;
}
.gitbtn:hover {
   background-image: var(--projects-button);
    color:#2EBAAE; 
    border: solid 1px #2EBAAE;
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  position:absolute;
  right:0px;
}
.theme-switch {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 50px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}


.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 10px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 10px;
}

input:checked + .slider {
  background-color: #3d3d3e;
}

input:checked + .slider:before {
  transform: translateX(34px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.light
{
  display: none;
}

.light
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

.dark{
color: #3D3D3E;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif; 
}
input:checked+ .slider .light
{display: block;}

input:checked + .slider .dark
{display: none;}


.page-header{
 font-size:40px;  

}

.abtimg {
      width: 10%;
}

.bookmarksimg{
   width: 10%;
} 

.projectsimg {
   width:10%;
   
}

.contactimg{
   width:10%;
}

label {
 	color: var(--font-color);
 	display: block;
 	font-size: 0.9em;
 	font-weight: 700;
 }
 
.header-links{
   padding-left:350px;
}