/* ==========================================================================
   Author's custom styles
   ========================================================================== */




 body {
   background: #FFFFFF;
   margin-top: 3.5em;
   max-width: 100vw;
   -ms-overflow-style: scrollbar;
 }

 

 /* Type */

 body, input, select, textarea {
   color: #017EA4;
   font-family: "Source Sans Pro", Helvetica, sans-serif;
   line-height: 1.75em;
 }
 


 h1, h2, h3, h4, h5, h6 {
   color: #3F0262;
   font-family: "Raleway", Helvetica, sans-serif;
   letter-spacing: 0.25em;
   line-height: 1.65;
   text-transform: uppercase;
   a {
     border-bottom: 0;
   }
 }

 
 /* Button */

 input[type="submit"],
 input[type="reset"],
 input[type="button"],
 .button {
   background-color: transparent;
   border: solid 1px rgba(160, 160, 160, 0.3);
   color: #BC68EB;
   cursor: pointer;
   display: inline-block;
   font-family: "Raleway", Helvetica, sans-serif;
   font-size: 0.6em;
   font-weight: 800;
   height: 4.8125em;
   letter-spacing: 0.25em;
   line-height: 4.8125em;
   margin: auto;
   padding: 0 2em;
   -moz-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   -webkit-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   -ms-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   text-align: center;
   text-transform: uppercase;
   width: fit-content;
   &:hover {
     border: solid 1px $accent-color;
     color: $accent-color !important;
     &:active {
       background-color: rgba(46, 186, 174, 0.05);
     }
   }
 }

 

 /* Fancybox */

 .fancybox {
   background: #000000;
   -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   -ms-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   -o-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   margin: 10px auto;
   max-width: 85%;
   padding: .5em .5em 0 .5em;
   width: fit-content;
   a {
     border: 0;
   }
   img {
     max-width: 100%;
   }
   .caption {
     color: #777;
     font-size: 0.8em;
     font-style: italic;
     text-align: center;
   }
 }

 /* Staticman Comments */
 $avatar-size: 3.25em;
 $avatar-rsep: 1em;
 $comment-vsep: 2.5em;
 $comment-content-vsep: 1.5em;

 .post-comment {
   position: relative;
   margin: $comment-vsep 0;
   font-size: .8em;

   /* Comment replies' additional left margin */
   &.post-comment-reply {
     margin-left: 2em;
     /* Display Font Awesome '↷' to signify reply target */
     .post-comment-author::after {
       font-family: 'Font Awesome 5 Free';
       content: '\f064';
       margin: 0 0.3em;
       display: inline-block;
       vertical-align: middle;
       font-weight: 900;
     }
   }

   .post-comment-avatar {
     float: left;
     width: $avatar-size;
     height: $avatar-size;
     margin: 0 $avatar-rsep 0 0;
   }

   .post-comment-author-container {
     /* -ve margin botton so that timestamp and author aren't too far */
     margin-bottom: -0.5em;
     .post-comment-author {
       display: inline-block;
       margin: 0 0 0;
       font-size: 1.25em;
       line-height: 0;
       a {
         color: inherit;
         text-decoration: none;
       }
     }
   }

   .post-comment-timestamp {
     font-size: .8em;
     a {
       color: inherit;
       text-decoration: none;
     }
   }

   .post-comment-content {
     margin: $comment-content-vsep 0 0 $avatar-size + $avatar-rsep;
     > figure, > ol, > p,
     > table, > ul {
       margin-bottom: 1.5em;
     }
   }

   .post-comment-reply-btn-container {
     margin: $comment-content-vsep 0 $comment-content-vsep $avatar-size + $avatar-rsep;
     /* Display Font Awesome '↶' to signify reply target */
     .post-comment-reply-btn {
       font-size: .6rem;
       &::before {
         font-family: 'Font Awesome 5 Free';
         content: '\f3e5';
         margin: 0 0.6em 0 0;
         display: inline-block;
         vertical-align: middle;
         font-weight: 900;
       }
     }
   }
 }

 /* Comment form */
 .post-new-comment {
   /* Disable the form when it has just been submitted */
   &.loading {
     opacity: 0.5;
   }

   /* Post reply notice with vertical align middle for consistent output */
   .post-reply-notice {
     .post-comment-avatar {
       width: 2em;
       height: 2em;
       margin: 0 .6em;
     }

     /* Display close button 'x' to clear reset reply target */
     .post-reply-close-btn {
       margin: 0 .5em;
       padding: unset;
       border: none;
       vertical-align: middle;
       &:hover {
        border: none;
      }
       &:after {
         content: '\2716';
       }
     }

     .post-reply-arrow::after {
       font-family: 'Font Awesome 5 Free';
       content: '\f064';
       display: inline-block;
       vertical-align: middle;
       font-weight: 900;
     }

     .post-reply-name {
       vertical-align: middle;
     }
   }

   /* Format reCaptcha */
   .g-recaptcha {
     margin: 0 0 0.25em;
   }

   /* Buttons */
   .button {
     margin: 0.25em 0;
   }
 }

 /* Copied from other blocks for reply and 'x' buttons */
 .button {
   margin: .25em 0;
   background-color: transparent;
   border: solid 1px rgba(160, 160, 160, 0.3);
   color: #BC68EB;
   cursor: pointer;
   display: inline-block;
   font-family: "Raleway", Helvetica, sans-serif;
   font-weight: 800;
   -moz-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   -webkit-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   -ms-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
   text-align: center;
   text-transform: uppercase;
   width: fit-content;
   &:hover {
     border: solid 1px $accent-color;
     color: $accent-color !important;
   }
   &:active {
     background-color: rgba(46, 186, 174, 0.05);
   }
 }


 /* ---------------------------------Classes--------------------------------- */


 /* Site Header */

 #site-header {
   background-color: #3D3D3E;
   color: #F5B9FF;
   border-bottom: solid 1px rgba(160, 160, 160, 0.3);
   -webkit-box-shadow:  0 3px 6px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
   -moz-box-shadow:  0 3px 6px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
   -ms-box-shadow:  0 3px 6px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
   -o-box-shadow:  0 3px 6px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
   box-shadow: 0 3px 6px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
   height: 3.5em;
   line-height: 3.5em;
   position: fixed;
   margin-bottom: 3.5em;
   top: 0;
   width: 100%;
   z-index: 10000;
   a {
     border: 0;
     border-left: 1px solid rgba(160, 160, 160, 0.3);
     font-family: "Raleway", Helvetica, sans-serif;
     font-size: 0.7em;
     font-weight: 400;
     letter-spacing: 0.25em;
     margin: 0;
     padding: 0 1.5em;
     text-transform: uppercase;
   }
   .flyout-menu {
     color: #F5B9FF;
     border-left: 1px solid rgba(160, 160, 160, 0.3);
     height: 100%;
     margin-top: 3.5em;
     padding: 0;
     position: fixed;
     top: 0;
     -webkit-transition: 0.5s;
     -moz-transition: 0.5s;
     -ms-transition: 0.5s;
     -o-transition: 0.5s;
     transition: 0.5s;
     z-index: 20;
     &.active {
       -webkit-box-shadow:  0 3px 6px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
       -moz-box-shadow:  0 3px 6px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
       -ms-box-shadow:  0 3px 6px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
       -o-box-shadow:  0 3px 6px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
       box-shadow: 0 3px 6px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
       right: 0 !important;
       a {
         border-left: 0;
       }
     }
     h1 {
       font-size: 1em;
     }
   }
 }

 #site-nav {
   align-items: center;
   display: flex;
   justify-content: space-between;
   .flyout-menu {
     right: -177px;
     width: 177px;
     @include for-desktop-up {
       background-color: unset;
       border: none;
       flex-grow: 1;
       height: auto;
       margin: 0;
       overflow: auto;
       position: static;
       -webkit-transition: none;
       -moz-transition: none;
       -ms-transition: none;
       -o-transition: none;
       transition: none;
       white-space: nowrap;
       &::-webkit-scrollbar {
         height: .25em;
       }
       &::-webkit-scrollbar-track {
         -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
       }
       &::-webkit-scrollbar-thumb {
         background-color: darkgrey;
         outline: 1px solid slategrey;
       }
     }
     &.active {
       flex-wrap: wrap;
       @include for-desktop-up {
           -webkit-box-shadow: none;
           -moz-box-shadow:  none;
           -ms-box-shadow:  none;
           -o-box-shadow:  none;
           box-shadow: none;
       }
     }
     .search-toggle {
       display: block;
       flex-basis: 100%;
       order: 1;
     }
     .link {
       border-bottom: dotted 1px rgba(160, 160, 160, 0.3);
       display: block;
       flex-basis: 100%;
       order: 2;
       @include for-desktop-up {
         border-bottom: none;
         display: inline;
         order: 0;
         &:first-of-type {
           border: 0;
         }
       }
     }
     .share-toggle {
       display: block;
       flex-basis: 100%;
       order: 3;
       @include for-laptop-up {
         display: none;
       }
     }
   }
   .nav-title {
     align-items: center;
     display: flex;
     flex-grow: 1;
     margin: 0;
     a {
       border: 0;
       color: #F5B9FF;
       font-size: 0.35em;
       font-weight: 800;
       margin-left: 1.5em;
       opacity: 1;
       padding: 0;
       img {
        height: 4.8em;
        width: 12.6em;
       }
     }
     @include for-desktop-up {
       flex-grow: 0;
       &:after {
         background: rgba(160, 160, 160, 0.3);
         content: '';
         display: block;
         height: 56px;
         margin-left: 1.5em;
         width: 1px;
       }
       a {
         min-width: 12.5em;
         img {
          margin-top: -0.2em;
        }
       }
     }
   }
   > .share-toggle, > .search-toggle {
     display: none;
     @include for-tablet-up {
       display: block;
       text-align: center;
       width: 61px;
       i {
         vertical-align: middle;
       }
     }
   }
   .lang-toggle {
     &:hover {
       span {
         box-shadow: inset 0 0 0 100px rgba(46, 187, 170, .5);
       }
     }
     span {
       display: inline-block;
       font-size: 1.75em;
       -webkit-transition: box-shadow 0.2s ease;
       -moz-transition: box-shadow 0.2s ease;
       -ms-transition: box-shadow 0.2s ease;
       -o-transition: box-shadow 0.2s ease;
       transition: box-shadow 0.2s ease;
       vertical-align: middle;
     }
   }
   .nav-toggle {
     text-align: center;
     width: 61px;
     @include for-desktop-up {
       display: none;
     }
     i {
       vertical-align: middle;
     }
   }
 }

 #lang-menu {
   &.flyout-menu {
     right: -177px;
     width: 177px;
     a {
       border-left: 0;
     }
     ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
     }
     span {
       display: inline-block;
       font-size: 1.75em;
       -webkit-transition: box-shadow 0.2s ease;
       -moz-transition: box-shadow 0.2s ease;
       -ms-transition: box-shadow 0.2s ease;
       -o-transition: box-shadow 0.2s ease;
       transition: box-shadow 0.2s ease;
       vertical-align: middle;
       &:hover {
         box-shadow: inset 0 0 0 100px rgba(46, 187, 170, .5);
       }
     }
     .link {
       border-bottom: dotted 1px rgba(160, 160, 160, 0.3);
       display: block;
      }
     .no-lang {
       cursor: not-allowed;
       opacity: .25;
       span {
         &:hover {
           box-shadow: none;
         }
       }
     }
   }
 }

 #share-menu {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   text-align: center;
   @include for-tall {
     justify-content: flex-start;
   }
   &.flyout-menu {
     width: 177px;
     right: -177px;
     padding: 1em;
     h1, a {
       margin: 0 .25em;
       @include for-tall {
         margin: 0 .25em .75em 0;
       }
     }
     a p {
       visibility: hidden;
     }
     .share-btn {
       height: 50px;
       i {
         font-size: 1.5em;
       }
     }
   }
 }

 /* Intro */

 #site-intro {
   align-items: center;
   display: flex;
   flex-direction: column;
   margin-top: 0.5em;
   padding: 1em;
   text-align: center;
   a {
     border: 0;
   }
   p {
     opacity: 0.6;
   }
   
<div id="header">
<img src = "img/main/name.png">
</div>

   header{
     
   }
   main {
     p {
       font-size: .7em;
       letter-spacing: .25em;
       line-height: 2.5;
       margin-bottom: 0;
       text-transform: uppercase;
     }
   }
 }

 /* Site Main */

 #site-main {

 }

 /* Sidebar */

 #site-sidebar {
   
   header h1 {
     font-size: 1em;
     color: #F5B9FF;
     
   }
   > * {
     border-top: solid 1px rgba(160, 160, 160, 0.3);
     margin: 3em 2em 0 2em;
     padding-top: 3em;
   }
   > *:first-child {
     @include for-desktop-up {
       margin-top: 0;
     }
   }
 }

 #recent-posts {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   > header {
     flex: 1 1 100%;
   }
   .mini-post {
     background: #000000;
     border: solid 1px rgba(160, 160, 160, 0.3);
 display: flex;
 flex-direction: column;
     margin-bottom: 1em;
     width: 100%;
     @include for-laptop-up {
       width: 49%;
     }
     @include for-desktop-up {
       width: 100%;
     }
     header {
       min-height: 4em;
       padding: 1.25em 1.25em 0.1em 1.25em;
       position: relative;
       @include for-laptop-up {
         border-top: solid 1px rgba(160,160,160,0.3);
       }
       @include for-desktop-up {
         border: 0;
       }
       h1 {
         font-size: 0.7em;
       }
       .published {
         display: block;
         font-family: "Raleway", Helvetica, sans-serif;
         font-size: 0.6em;
         font-weight: 400;
         letter-spacing: 0.25em;
         margin: -0.625em 0 1.7em 0;
         text-transform: uppercase;
         
       }
       .author, .format {
         position: absolute;
         right: 2em;
         top: 2em;
       }
     }
     section {
       flex-grow: 1;
       overflow: hidden;
       .image {
         &:hover {
           img {
             -moz-transform: scale(1.05);
             -webkit-transform: scale(1.05);
             -ms-transform: scale(1.05);
             transform: scale(1.05);
           }
         }
         img {
           display: block;
           height: 100%;
           margin: 0;
           -moz-transition: -moz-transform 0.2s ease-out;
           -webkit-transition: -webkit-transform 0.2s ease-out;
           -ms-transition: -ms-transform 0.2s ease-out;
           transition: transform 0.2s ease-out;
           width: 100%;
         }
       }
     }
   }
 }

 #categories {
   .count {
     float: right;
   }
 }

 #mini-bio {
   p {
     opacity: 0.65;
     font-size: 0.9em;
     padding: 0;
   }
   footer {
     text-align: center;
   }
 }

 /* Footer */

 #site-footer{
   border-top: solid 1px rgba(160,160,160,0.3);
   margin: 3em 2em 0 2em;
   padding-top: 3em;
   .copyright {
     color: #aaaaaa;
     font-family: "Raleway", Helvetica, sans-serif;
     font-size: 0.5em;
     font-weight: 400;
     letter-spacing: 0.25em;
     text-align: center;
     text-transform: uppercase;
   }
 }

 #back-to-top {
   bottom: 15px;
   color: #aaaaaa;
   display: none;
   position: fixed;
   right: 15px;
   border: 0;
 }

 /* Social Icons */

 #site-intro, #site-footer {
   .socnet-icons {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     padding-left: 0;
     li {
       margin: 0 .5em;
       min-width: 20px;
       list-style-type: none;
       a {
         opacity: 0.6;
         border: none;
       }
     }
   }
 }

 #socnet-share {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin: 1em 1em 0 1em;
   @include for-laptop-up {
     justify-content: flex-start;
   }
   a {
     margin-bottom: .5em;
     padding: .5em;
     width: 4em;
     @include for-laptop-up {
       margin-right: .25em;
     }
     i {
       font-size: 1em;
     }
   }
   p {
     display: none;
   }
 }

 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
.post {
   background: #FFFFFF;
   margin: 1.5em auto;
   padding: 1em;
   max-width: 55em;
   > header {
     border-bottom: solid 1px rgba(160, 160, 160, 0.3);
     margin: 1em 1em 0 1em;
     text-align: center;
     @include for-laptop-up {
       display: flex;
       justify-content: space-between;
       text-align: left;
     }
     div {
       padding: 0 0 1em 0;
       @include for-laptop-up {
         padding: 2em 1em;
       }
     }
     p {
       margin: -1em 0 0 0;
     }
     .title {
       font-size: 1.1em;
     }
     .meta {
       display: flex;
       flex-direction: column;
       @include for-laptop-up {
         border-left: solid 1px rgba(160, 160, 160, 0.3);
         text-align: right;
         width: 17em;
       }
       .published {
         font-family: "Raleway", Helvetica, sans-serif;
         font-size: 0.7em;
         font-weight: 800;
         letter-spacing: 0.25em;
         text-transform: uppercase;
       }
       p, .author, .format {
         font-family: "Raleway", Helvetica, sans-serif;
         font-size: 0.6em;
         letter-spacing: 0.25em;
         text-transform: uppercase;
       }
     }
   }
   > div, > p {
     @include for-desktop-up {
      margin: 0 1em;
    }
     @include for-big-desktop-up {
       margin: 0 4em;
     }
   }
   > div > p, > p {
     text-align: justify;
   }
   a {
     &.image {
       border: 0;
       display: block;
       margin: 1em -1em;
       overflow: hidden;
       &:hover {
         img {
           -webkit-transform: scale(1.05);
           -moz-transform: scale(1.05);
           -ms-transform: scale(1.05);
           -o-transform: scale(1.05);
           transform: scale(1.05);
         }
       }
       img {
         -webkit-transition: -webkit-transform 0.2s ease-out;
         -moz-transition: -moz-transform 0.2s ease-out;
         -ms-transition: -ms-transform 0.2s ease-out;
         -o-transition: -ms-transform 0.2s ease-out;
         transition: transform 0.2s ease-out;
         width: 100%;
       }
     }
   }
   > footer {
     display: flex;
     flex-direction: column;
     .stats {
       display: flex;
       cursor: default;
       justify-content: space-around;
       list-style: none;
       margin: .5em 0;
       padding: 0;
       li {
         display: flex;
         align-items: center;
         font-family: "Font Awesome 5 Free";
         font-weight: 900;
         max-width: 50%;
         &:hover, &:active {
           ul {
             li {
               visibility: visible;
               opacity: 1;
               line-height: 1;
               margin: 1em;
               width: auto;
             }
           }
         }
         &.categories {
           &:before {
             content: "\f07b";
             width: 20px;
           }
         }
         &.tags {
           &:before {
             content: "\f02c";
             width: 20px;
           }
         }
         ul {
           display: flex;
           flex-wrap: wrap;
           border-left: solid 1px rgba(160, 160, 160, 0.3);
           margin: 0 0 0 1em;
           padding: 0 0 0 1em;
           li {
             visibility: visible;
             font-family: "Raleway", Helvetica, sans-serif;
             font-size: 0.6em;
             font-weight: 400;
             letter-spacing: 0.25em;
             line-height: 0;
             margin: 0;
             width: 0;
             opacity: 0;
             -webkit-transition: visibility 0s, opacity 0.5s linear, line-height 0.5s linear, margin 0.5s linear, width 0.5s linear;
             -moz-transition: visibility 0s, opacity 0.5s linear, line-height 0.5s linear, margin 0.5s linear, width 0.5s linear;
             -ms-transition: visibility 0s, opacity 0.5s linear, line-height 0.5s linear, margin 0.5s linear, width 0.5s linear;
             -o-transition: visibility 0s, opacity 0.5s linear, line-height 0.5s linear, margin 0.5s linear, width 0.5s linear;
             transition: visibility 0s, opacity 0.5s linear, line-height 0.5s linear, margin 0.5s linear, width 0.5s linear;
             text-transform: uppercase;
             &:nth-child(-n+3) {
               visibility: visible;
               opacity: 1;
               width: auto;
               line-height: 1;
               margin: 1em;
             }
           }
         }
       }
     }
   }
 }
 
 .position {
    display: block;
    margin-left: -50px;
    margin-right: 540px;
    width: 25%;
 }
