<!doctype html>
<html lang="{{ .Page.Language | default "en" }}">
  {{ partial "head" . }}
  <body>
    {{ partial "site-header" . }}
    {{ partial "dark-mode-switch" .}}
    <div id="wrapper">
      {{ partial "site-intro" . }}
      <main id="site-main">
        <article class="post">
          <header>
            <div class="title">
              {{ if $.Scratch.Get "h1" }}
                <h1 class="about-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
                {{ $.Scratch.Set "h1" false }}
              {{ else }}
                <h2 style="font-size:300%;"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
              {{ end }}
              {{ with .Description }}<p>{{ . }}</p>{{ end }}
            </div>
            
            <div class ="image">
<img src="{{ with .Params.image }}{{ . }}{{ end }}" id="about-image" class="abtimg"/>
</div>
            
          </header>
          <div id="content">
            {{ .Content }}
          </div>
        </article>
      </main>
      {{ partial "site-sidebar" . }}
      {{ partial "site-footer" . }}
      {{ partial "scripts" . }}
    </div>
  </body>
</html>
